<!-- navbar.ejs -->
<%- include('_style')  %>

<div class="navbar-container" style="border: 2px;" >
    <nav class="navbar-menu" >
    <a href="/">Home</a><br>
    <a href="/units/add">Add a New Office</a><br>
    <a href="/units">UNITS</a>
    </nav>
</div>
