<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEWA AMBULANCE</title>
    <%- include('_styleHomepage')  %>
    <%- include('_navbar')  %>

   
</head>
    <body>
        
    
        <div class="container" style="justify-items: center; justify-content: center;">
            <h1>
                <a style="text-align: center; font-size: 34px;">CV SEWA</a>
            </h1>
            <div class="image-slider" style="justify-items: center; justify-content: center;">
                <div class="table" style="justify-items: center; justify-content: center;">
                    <div class="table-cell">
                        <img class="img-container" src="https://mawrent.com/wp-content/uploads/2022/11/sewa-brio-di-bali.jpg" alt="">
                        <p>Price: $XX.XX</p>
                        <a href="#">Book Now</a>
                    </div>
                    <div class="table-cell">
                        <img class="img-container" src="https://mawrent.com/wp-content/uploads/2022/11/sewa-swift-di-bali.jpg" alt="">
                        <p>Price: $XX.XX</p>
                        <a href="#">Book Now</a>
                    </div>
                    <div class="table-cell">
                        <img class="img-container" src="https://mawrent.com/wp-content/uploads/2022/11/sewa-innova-reborn-di-bali.jpg" alt="">
                        <p>Price: $XX.XX</p>
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    <script src="styleScript.js"></script>
</body>
</html>
